@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}
body
{
  display: flex;
  min-height: 80vh;
  background: hsl(212, 45%, 89%);
  justify-content: center;
  align-items: center;
  position: relative;

  
}
.boxone
{
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 550px;
  background: #fff;
  position: relative;
  border-radius: 10px;
  max-width: 400px;

}
.boxtwo img
{
  position: relative;
  display: flex;
  width: 350px;
  height: 380px;
  border-radius: 10px;
  margin: auto;
  top: 20px;
  left:0;
  right: 0;
  bottom:0;

}
.title
{
  position: relative;
  display: flex;
  text-align: center;
  width: 350px;
  height: 100px;
  border-radius: 10px;
  margin: auto;
  top: 20px;
  left:0;
  right: 0;
  bottom:0;

}
.descript
{
  position: relative;
  display: flex;
  text-align: center;
  margin: 0;
  height: 105px;
  
}
.attribution
{
  position: relative;
  display: block;
  text-align: center;
  width: 400px;
}